.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 70px 10%;
  .services-title {
    position: relative;
    h1 {
      padding: 0 30px;
      font-size: 60px;
      font-weight: 600;
    }
  }
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
    .services-format {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 30px;
      border-radius: 10px;
      border: 2px solid white;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        border: 2px solid #db6618;
        background-image: linear-gradient(45deg, #3f0028, #d66921);
        transform: scale(1.05);
        transition: 0.4s;
      }
      h3 {
        font-size: 22px;
        font-weight: 600;
      }
      h2 {
        font-size: 30px;
        font-weight: 800;
        background: linear-gradient(264deg, #df8908 -5.09%, #ff3a3a 106.28%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p {
        color: #d4d4d4;
        font-size: 20px;
        line-height: 30px;
        max-width: 300px;
      }
      .services-readmore {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 20px;
        img {
          width: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    align-items: start;
    gap: 70px;
    margin: 20px 6%;
    .services-title {
      h1 {
        padding: 0;
        font-size: 40px;
      }
    }
    .services-container {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      .services-format {
        gap: 10px;
        padding: 20px;
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
          line-height: 26px;
          max-width: 300px;
        }
      }
    }
  }
}
